<section class="justify-content-space-between mt-4">
    <h1>Vehicles</h1>
    <section class="justify-content-space-between">
        <section>
            <button class="btn btn-primary">Add New</button> &nbsp;
            <button class="btn btn-primary">Manage Inspections</button> &nbsp;
            <button class="btn btn-primary">Manage Insurrance</button> &nbsp;
        </section>
    </section>
</section>

<p class="mt-3">Total: 200</p>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>Owner Id</th>
            <th>Owner Name</th>
            <th>Plate No</th>
            <th>Make</th>
            <th>Model</th>
            <th>Chassis No</th>
            <th>Model Year</th>
            <th>Color</th>
            <th>Sequence No</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
</table>