<section class="justify-content-space-between mt-4">
    <h1>Employees</h1>
    <section class="justify-content-space-between">
        <section>
            <button class="btn btn-primary">Add New</button> &nbsp;
            <button class="btn btn-primary">Manage Types</button> &nbsp;
        </section>
    </section>
</section>

<p class="mt-3">Total: 200</p>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th>IQAMA No.</th>
            <th>Name</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Permenant Location</th>
            <th>Residential Location</th>
            <th>IQAMA Qualification</th>
            <th>License Type</th>
            <th>License Expiry</th>
            <th>IQAMA Expiry</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
</table>